.Apresentacao{
    font-family: Bold;
    font-size: 29px;
    color:  rgb(6, 4, 31);
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.Button{

    font-size: 29px;
    font-family: Bold;
    border-radius: 2px;
    border: 2px;
    transition: 1s;
    transform: scale(1.99);
    color: darkcyan;
}

.Button :hover {
    transform: scale(1.13);
    cursor: pointer;
    background-color: #dfe5ec ;
    color: rgb(5, 3, 87);
    border: 1px solid  ;
}